<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php"
         backupGlobals="true"
         backupStaticAttributes="false"
         strict="true"
         verbose="true"
         syntaxCheck="true"
         stopOnFailure="false">

  <testsuites>
    <testsuite name="wconsumer">
      <directory suffix="Test.php">.</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    <log type="coverage-php" target="../../build/coverage/integration-tests-coverage.serialized"/>
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../../lib</directory>
    </whitelist>
  </filter>

</phpunit>
