<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php"
         backupGlobals="true"
         backupStaticAttributes="false"
         strict="true"
         verbose="true"
         syntaxCheck="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="wconsumer">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>

</phpunit>
